.Header {
  //border-bottom: 1px solid $black;
  padding: 20px 0 0;  
  text-align: center;
  
  &-logo{
    margin: 5px auto;
    max-width: 575px;
    a{
      text-decoration: none;
      color:#000;
      font-family: $serif;
      display: block;
      margin: 35px 0;
      opacity: 1;
      transition:opacity .25s linear;
      &:hover{
        opacity: .8;
      }
    }
    &-text{
      font-weight: 900;      
      font-size: 4.8rem;
    }
  }

  &-tagline{
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    margin: 0 0 20px;
    padding: 0;
  }
  &-menu {
    $btnSize: 50px;   
    position: absolute;
    z-index: 21000;
    top: 30px;
    right: 25px;
    cursor: pointer;
    width: $btnSize;
    height: $btnSize;
    line-height: 0;
    flex: none;
     &-wrapper{
        display: none;
      }
    span {
      display: none;
    }
    &-icon {
      overflow: hidden;
      width: $btnSize  ;
      height: $btnSize ;
      padding: 10px;
      position: relative;
      left: -2px;
      top:  -2px;
    }
    &-btn {
      @include removeButtonStyle;
      &:focus {outline:0;}

      width: $btnSize;
      height: $btnSize;

      text-align: center;

      border: none;
      border-radius: 50%;
      background: rgba(#fff, 1);
      @include transitionAll;

      border: 2px solid #000;


      &:active {
        background: rgba(#fff, 1);
      }
      .close {
        display: none;
        fill:#fff;
      }
      .open {
        display: block;
      }
      &.isActive {
        background: #000;
        border-radius: 50%;
        background: rgba(#000, 1);
        border: 2px solid #fff;

        &:hover {
          opacity: .85;
        }
        .open {
          display: none;
        }
        .close {
          display: block;
        }
      }
    }
  }
}

// Media Queries ***********************************************
// Phone   
@media (max-width: $screen-xs-max){
  .Header{
    display: flex;
    flex-direction: column;
    padding: 19px 0 0 30px;  
    text-align: left;
    border-bottom: 1px solid #444;
    &-logo{
        margin: 0;
        order:0 ;
        padding: 0 0 10px;
        margin: 0;
        &-text{
          font-size: 4rem;
        }
      }
    &-tagline{
      order: 2;
      display: none;
    }

    &-menu{
      &-wrapper{
        display: block;
      }
    }
  }
}