.Image
{
  margin: 40px auto;

  &--normal
  {
    max-width: $medium;
  }
  &--halfWidth
  {
    width: 39%;
    max-width: 500px;
  }
}

// Media Queries ***********************************************
// Phone   
@media (max-width: $screen-xs-max)
{
  .Image
  {
    margin: 10px auto;
    &--normal
    {
      width: calc(100% - 10px);
      max-width: calc(100% - 10px);
    }
    &--halfWidth
    {
      width: calc(100% - 10px);
      max-width: calc(100% - 10px);
    }
  }
}

// Tablet
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
{
  .Image
  {
    margin: 10px auto;
    &--normal
    {
      width: 75%;
    }
    &--halfWidth
    {
      width: 60%;
    }
  }
}
