// base.scss
*,
*:before,
*:after {
  box-sizing: inherit;
  box-sizing: border-box;
}

html {
  -webkit-overflow-scrolling: touch;
  height: 100%;
  overflow: auto;
  width: 100%;
}
body {
  -webkit-overflow-scrolling: touch;
  font-size: 62.5%;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  overflow: auto;
  padding: 0;
  position: relative;
  width: 100%;
  background: lime;
}

a:link,
a:focus {
  @include transitionColor($time: .17s);
}

p{
  a:link,
  a:active,
  a:focus {
    @include transitionColor($time: .17s);
    color: $active;
    text-decoration: underline;
    touch-action: manipulation;
  }
  a:active,
  a:hover,
  a:visited{
    color: darken($active, 15);
  }
}

img{
  height: auto;
  width: 100%;
}
