//_colors.scss

// Base Colors
$black: #000;
$white: #fff;

// Site colors
$blue: #1f5d9b; 
$gold: #cbb46c;
$gray--light: #888;
$gray: #666;
$navy: #23384e;
$red: #ff0000;

$active: $gold;
$primary: $blue;
$secondary: $gold;
$tertiary: $navy;

// Extra

$fail : $red;
$green :#7fff00;
$red : #f70056;
$success : $green;