// base.scss
@charset 'UTF-8';

*,
*:before,
*:after {
  box-sizing: inherit;
  box-sizing: border-box;
}

html {
  overflow: auto;

  width: 100%;
  height: 100%;

  -webkit-overflow-scrolling: touch
}
body {
  position: relative;

  overflow: auto;
  -webkit-overflow-scrolling: touch;

  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;

  font-size: 62.5%;
  overflow-x: hidden;
}

a:link,
a:focus {
  @include transitionColor($time: .17s);
}

p{
  a:link,
  a:active,
  a:focus {
    @include transitionColor($time: .17s);
    text-decoration: underline;
    color: $active;
    touch-action: manipulation;
  }
  a:active,
  a:hover,
  a:visited{
    color: darken($active, 15);
  }
}

img{
  width: 100%;
  height: auto;
}
