//_colors.scss

// Base Colors
$white: #fff;
$black: #000;

// Site colors
$blue: #1F5D9B; 
$gold: #CBB46C;
$navy: #23384E;

$gray: #666;
$gray--light: #888;

$primary: $blue;
$secondary: $gold;
$tertiary: $navy;
$active: $gold;

// Extra
$green :#7fff00;
$red : #f70056;
$success : $green;
$fail : $red;