.container{
  max-width: $x-small;
  margin: 0 auto;
  box-sizing: border-box;
  &.small{
    max-width: $small;
    //border: 1px solid lime;
  }
  &.medium{
    max-width: $medium;
    //border: 1px solid orange
  }
  &.large{
    max-width: $large;
    //border: 1px solid red;
  }
}

// Media Queries ***********************************************
// Phone   
@media (max-width: $screen-xs-max){
  .container{
    padding:0 20px;
    .container{
      padding: 0;
    }
    &.small{
      max-width: 100%;
    }
    &.medium{
      max-width: 100%;
    }
    &.large{
      max-width: 100%;
    }
  }
}
