// Typographic styles and vertical rhythm pulled from http://www.gridlover.net/app/

:root{
  font-size: 10px;
}

// Google Fonts
// https://fonts.google.com/?category=Sans+Serif&selection.family=Montserrat:500|Playfair+Display:700,900
$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;;
$serif : TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;

body {
  font-family: $sans-serif;
  font-size: inherit;
  font-size: 1.6rem;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0;
  text-size-adjust: 100% !important;
  /* Better Font Rendering */
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

//h1 used for logo

h3{
  font-size: 3.6rem;
  line-height: 4.8rem;
}
h4{
  font-size: 2.4rem;
  line-height: 3rem;
}
h5{
  font-size: 2.1rem;
  line-height: 2.4rem;
}
h6{
  font-size: 1.2rem;
  line-height: 1.8rem;
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin:0;
}
ul, 
ol,
ul ul,
ol ol,
ul ol,
ol ul {
  margin:0;
}
ul{
  list-style-type: disc;
}
ol{
  list-style-type: decimal;
}
li {
  font-size: inherit;
  line-height: 150%;
}

/* Let's make sure all's aligned */
hr,
.hr {
  margin: -1px 0;
  border: 1px solid;
}
a,
b,
i,
strong,
em,
small,
code {
  line-height: 0;
}
sub,
sup {
  position: relative;

  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -.5em;
}
sub {
  bottom: -.25em;
}

p{
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: .02rem;
  color:$black;
  margin: 0;
  padding: 0;

  strong{
    font-weight: 600;
  }
  i, em{
    font-style: italic;
  }
}

// Media Queries ***********************************************
// Phone   
@media (max-width: $screen-xs-max){
  h4{
    font-size: 3.2rem; 
    margin: 20px 0 40px;   
  }
  h5{
    font-size: 2.6rem;
    line-height: 2.8rem;
    margin-bottom: 20px;
  }
  h6{
    font-size: 1.4rem;
  }    
  p{
    font-size: 1.8rem;
    line-height: 3rem;
    }
}
